extends ../layout

block styles
  link(rel="stylesheet", href="/oled/oled.css")

block scripts
  script(src="/oled/canvasHandler.js")

block content
  div(class="container")
    //- Toolbar
    div(class="row mt-3")
      button(type="button", class="btn btn-light", id="draw-btn") Draw
      button(type="button", class="btn btn-dark", id="line-btn") Line
      button(type="button", class="btn btn-dark", id="rect-btn") Rectangle
      
    //- Canvas options
    div(class="row")
      button(type="button" class="btn btn-light", id="col-btn") Switch Color
      button(type="button" class="btn btn-primary", id="clear-btn") Clear  
      
    //- Canvas
    canvas(class="row mx-auto mt-2", width=640, height=320)